@tailwind base;
@tailwind components;
@tailwind utilities;

.hidden-element {
  display: none !important;
  color: black !important;
  background-color: black !important;
}

.index50 {
	z-index: 50;
}

.swiper-button-next::after {
  color: black;
  font-size: 60px;
  font-weight: bolder;
}

.loading {
	animation: rotation 0.5s linear infinite;
	transform: translate(-30px, -30px);
}

.loading:nth-child(1) {
	animation-delay: 0s;
}

.loading:nth-child(2) {
	animation-delay: 0.2s;
}

.loading:nth-child(3) {
	animation-delay: 0.3s;
}

@keyframes rotation {
	0% {
		transform: translate(-30px, -30px);
	}

	33% {
		transform: translate(30px, -30px);
	}

	66% {
		transform: translate(0px, 15px);
	}
    100% {
        transform: translate(-30px, -30px);
    }
}