.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lista-de-pokemon {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}

.cada-pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: gray;
  margin: 6px;
  border-radius: 10px;
  width: 18%;
}

.cada-pokemon img {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: center;
}

button {
  font-size: 70px;
  background-color: transparent;
  border: none;
}

.container-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.logo-pokemon {
  width: 35%;
}